[submodule "llama.cpp"]
	path = packages/llama.cpp
	url = https://github.com/ggerganov/llama.cpp
	shallow = true
[submodule "stable-diffusion.cpp"]
	path = packages/stable-diffusion.cpp
	url = https://github.com/leejet/stable-diffusion.cpp
	shallow = true
